<?xml version="1.0"?>
<config>
	<modules>
		<Mycompany_CategoryDescription>
			<version>1.0.0</version>
		</Mycompany_CategoryDescription>
	</modules>
	<frontend>
		<layout>
			<updates>
				<mycompany_categorydescription>
					<file>CategoryDesc.xml</file>
				</mycompany_categorydescription>
			</updates>
		</layout>
	</frontend>
	<global>
		<resources>
			<categorydescription_setup>
				<setup>
					<module>Mycompany_CategoryDescription</module>
					<class>Mage_Catalog_Model_Resource_Setup</class>
				</setup>
				<connection>
					<use>default_setup</use>
				</connection>
			</categorydescription_setup>
		</resources>
		<helpers>
			<mycompany_categorydescription>
				<class>Mycompany_CategoryDescription_Helper</class>
			</mycompany_categorydescription>
		</helpers>
	</global>
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<mycompany_categorydescription translate="title">
											<title>Category Extra Description</title>
										</mycompany_categorydescription>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<default>
		<mycompany_categorydescription>
			<general>
				<enabled>1</enabled>
			</general>
		</mycompany_categorydescription>
	</default>
</config>
