<?xml version="1.0"?>
<config>
    <modules>
        <Mycompany_Customshipping>
            <version>1.0.0</version>
        </Mycompany_Customshipping>
    </modules>
    <global>
    	<resources>
            <mycompany_customshipping_setup>
                <setup>
                    <module>Mycompany_Customshipping</module>
                    <class>Mycompany_Customshipping_Model_Resource_Setup</class>
                </setup>
                <connection>
                      <use>core_setup</use>
                </connection>
            </mycompany_customshipping_setup>
            <mycompany_customshipping_write>
                <connection>
                  <use>core_write</use>
                </connection>
             </mycompany_customshipping_write>
        </resources>
        <models>
            <mycompany_customshipping>
                <class>Mycompany_Customshipping_Model</class>
                <resourceModel>mycompany_customshipping_resource</resourceModel>
            </mycompany_customshipping>
            <mycompany_customshipping_resource>
                <class>Mycompany_Customshipping_Model_Resource</class>
                <entities>
                    <mytest>
                        <table>Mycompany_Customshipping_entity</table>
                    </mytest>
                </entities>
            </mycompany_customshipping_resource>
        </models>
        <helpers>
            <mycompany_customshipping>
                <class>Mycompany_Customshipping_Helper</class>
            </mycompany_customshipping>
        </helpers>
    </global>
    <default>
        <carriers>
            <mycompany_customshipping>
                <active>1</active>
                <sort_order>10</sort_order>
                <model>mycompany_customshipping/carrier</model>
                <title>Custom Shipping Carrier</title>
                <sort_order>10</sort_order>
                <sallowspecific>1</sallowspecific>
                <express_max_price>200</express_max_price>
                <default_shipping_price>1</default_shipping_price>
            </mycompany_customshipping>
        </carriers>
    </default>
    <adminhtml>
    <fieldsets>
      <mycompany_customshipping_attribute>
        <create>1</create>
        <update>1</update>
      </mycompany_customshipping_attribute>
    </fieldsets>
  </adminhtml>
</config>