<?xml version="1.0"?>
<!--
/**
 * Training_Animal extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       Training
 * @package        Training_Animal
 * @copyright      Copyright (c) 2016
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
-->
<config>
    <modules>
        <Training_Animal>
            <version>1.0.0</version>
        </Training_Animal>
    </modules>
    <global>
        <resources>
            <training_animal_setup>
                <setup>
                    <module>Training_Animal</module>
                    <class>Training_Animal_Model_Resource_Setup</class>
                </setup>
            </training_animal_setup>
        </resources>
        <blocks>
            <training_animal>
                <class>Training_Animal_Block</class>
            </training_animal>
        </blocks>
        <helpers>
            <training_animal>
                <class>Training_Animal_Helper</class>
            </training_animal>
        </helpers>
        <models>
            <training_animal>
                <class>Training_Animal_Model</class>
                <resourceModel>training_animal_resource</resourceModel>
            </training_animal>
            <training_animal_resource>
                <class>Training_Animal_Model_Resource</class>
                <entities>
                    <animal>
                        <table>training_animal_animal</table>
                    </animal>
                    <animal_store>
                        <table>training_animal_animal_store</table>
                    </animal_store>
                </entities>
            </training_animal_resource>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <training_animal>
                    <file>training_animal.xml</file>
                </training_animal>
            </updates>
        </layout>
        <global_search>
            <animal>
                <class>training_animal/adminhtml_search_animal</class>
                <acl>training_animal</acl>
            </animal>
        </global_search>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Training_Animal before="Mage_Adminhtml">Training_Animal_Adminhtml</Training_Animal>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
