<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Vijay_Attribute>
            <version>1.0.2</version>
        </Vijay_Attribute>
    </modules>
    <global>
        <resources>
            <vijay_attribute_setup>
                <setup>
                    <module>Vijay_Attribute</module>
                    <class>Vijay_Attribute_Model_Resource_Setup</class>
                </setup>
                <connection>
                      <use>core_setup</use>
                </connection>
            </vijay_attribute_setup>
            <vijay_attribute_write>
                <connection>
                  <use>core_write</use>
                </connection>
             </vijay_attribute_write>
        </resources>
        <models>
            <vijay_attribute>
                <class>Vijay_Attribute_Model</class>
                <resourceModel>vijay_attribute_resource</resourceModel>
            </vijay_attribute>
            <vijay_attribute_resource>
                <class>Vijay_Attribute_Model_Resource</class>
                <entities>
                    <mytest>
                        <table>vijay_attribute_entity</table>
                    </mytest>
                </entities>
            </vijay_attribute_resource>
        </models>
    </global>
    <adminhtml>
    <fieldsets>
      <vijay_insalled_attribute>
        <create>1</create>
        <update>1</update>
      </vijay_insalled_attribute>
    </fieldsets>
  </adminhtml>
</config> 
