<?xml version="1.0"?>
<config>
    <modules>
        <Mycompany_Contactsave>
            <version>1.0.0</version>
        </Mycompany_Contactsave>
    </modules>
    <global>
        <resources>
            <mycompany_contactsave_setup>
                <setup>
                    <module>Mycompany_Contactsave</module>
                    <class>Mycompany_Contactsave_Model_Resource_Setup</class>
                </setup>
            </mycompany_contactsave_setup>
        </resources>
        <blocks>
            <mycompany_contactsave>
                <class>Mycompany_Contactsave_Block</class>
            </mycompany_contactsave>
        </blocks>
        <helpers>
            <mycompany_contactsave>
                <class>Mycompany_Contactsave_Helper</class>
            </mycompany_contactsave>
        </helpers>
        <models>
            <mycompany_contactsave>
                <class>Mycompany_Contactsave_Model</class>
                <resourceModel>mycompany_contactsave_resource</resourceModel>
            </mycompany_contactsave>
            <mycompany_contactsave_resource>
                <class>Mycompany_Contactsave_Model_Resource</class>
                <entities>
                    <contactdata>
                        <table>mycompany_contactsave_contactdata</table>
                    </contactdata>
                </entities>
            </mycompany_contactsave_resource>
        </models>
        <events>
            <controller_action_predispatch_contacts_index_post>
                <observers>
                    <Mycompany_Contactsave>
                        <class>mycompany_contactsave/observer</class>
                        <method>checkContacts</method>
                    </Mycompany_Contactsave>
                </observers>
            </controller_action_predispatch_contacts_index_post>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <mycompany_contactsave>
                    <file>mycompany_contactsave.xml</file>
                </mycompany_contactsave>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Mycompany_Contactsave before="Mage_Adminhtml">Mycompany_Contactsave_Adminhtml</Mycompany_Contactsave>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
		<routers>
			<contacts>
 				<args>
 					<modules>
 					<Mycompany_Contactsave before="Mage_Contacts_IndexController">Mycompany_Contactsave</Mycompany_Contactsave>
 					</modules>
 				</args>
 			</contacts>
 		</routers>
 		<layout>
            <updates>
                <mycompany_contactsave>
                    <file>mycompany_contactsave.xml</file>
                </mycompany_contactsave>
            </updates>
        </layout>
	</frontend>
	<default>
        <captcha>
            <frontend>
                <areas>
                    <contacts>
                        <label>Contacts Page</label>
                    </contacts>
                </areas>
            </frontend>
        </captcha>
        <customer>
            <captcha>
                <always_for>
                    <contacts>1</contacts>
                </always_for>
            </captcha>
        </customer>
    </default>
</config>
