  
<!--@subject Contact Request Confirm Email @-->
  <html>
    <head>
      <title>Contact for Enquiry</title>
    </head>
        <body>
        <table border='0' cellpadding='4' cellspacing='0' width='90%'>
        <tbody>
        <tr>
          <td align='center' colspan='2' height='30' >Contacted for pin</td>       
        </tr>    
        <tr>
          <td align='right' width='40%'><b>Name:</b></td>
          <td width='55%'>{{var data.name}}</td>
        </tr>       
        <tr>
          <td align='right' width='40%'><b>Email:</b></td>
          <td width='55%'>{{var data.email}}</td>
        </tr>
        <tr>
          <td align='right' width='40%'><b>Mobile Number:</b></td>
          <td width='55%'>{{var data.mobile}}</td>
        </tr>        
        <tr>
          <td align='right' width='40%'><b>City:</b></td>
          <td width='55%'>{{var data.city}}</td>
        </tr>
        <tr>
          <td align='right' width='40%'><b>Pincode:</b></td>  
          <td width='55%'>{{var data.pincode}}</td>
        </tr>
        </tbody>  
        </body>
    </html>