<?xml version="1.0"?>
<config>
  <modules>
    <Iflair_Wholesale>
      <version>0.1.0</version>
    </Iflair_Wholesale>
  </modules>
  <global>
    <helpers>
      <wholesale>
        <class>Iflair_Wholesale_Helper</class>
      </wholesale>
    </helpers>
	<models>
	  <wholesale>
		<class>Iflair_Wholesale_Model</class>
		<resourceModel>wholesale_mysql4</resourceModel>
	  </wholesale>
	</models>
	<blocks>
        <adminhtml>
            <rewrite>
        <customer_form_element_file>Iflair_Wholesale_Block_Adminhtml_Customer_Form_Element_File</customer_form_element_file>
            </rewrite>
        </adminhtml>
    </blocks>
	<resources>
	  <customerattribute1474463388_setup>
		<setup>
		  <module>Iflair_Wholesale</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerattribute1474463388_setup>
	  <customerattribute1474463388_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerattribute1474463388_write>
	  <customerattribute1474463388_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerattribute1474463388_read>
	</resources>
  </global>
  <frontend>
        <layout>
            <updates>
                <wholesale>
                    <file>wholesale.xml</file>
                </wholesale>
            </updates>
        </layout>
        <routers>
			<customer>
				<args>
					<modules>
					<Iflair_Wholesale before="Mage_Customer_AccountController">Iflair_Wholesale</Iflair_Wholesale>
					</modules>
				</args>
			</customer>
		</routers>
		<events>
        <customer_save_before>
            <observers>
                <wholesale_file_upload>
                    <class>Iflair_Wholesale_Model_Observer</class>
                    <method>saveProofFile</method>
                </wholesale_file_upload>
            </observers>
        </customer_save_before>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Iflair_Wholesale before="Mage_Adminhtml">Iflair_Wholesale_Adminhtml</Iflair_Wholesale>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config> 