<?xml version="1.0"?>
<config>
    <sections>
        <customer>
            <groups>
                <wholesale_group translate="label">
                    <label>WholeSale Customer Form</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>120</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <customformfields_enabled translate="label">
                            <label>Enable WholeSale Customer Form:</label>
                            <comment>'Yes' to enable the WholeSale Customer Form, 'No' to disable the WholeSale Customer Form.</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </customformfields_enabled>  
                    </fields>
                </wholesale_group>
            </groups>
        </customer>
    </sections>
</config>